/*Estilos globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Estilos contenedor*/
.contenedor {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

/*Estilos fila*/
.fila {
    position: relative;
    width: 100%;
    height: auto;
    display: table;
    clear: both;
    margin: auto;
}

/*===================================*/
/*--------Estilos de columna---------*/
/*===================================*/
/*Estilos global de columna*/
[class*="col-"] {
    float: left;
    border: 1px solid black;
    padding: 20px;
}
/*===================================*/
/*Columna de 12*/
.col-12 {
    width: 100%;
}
