/*Estilos globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Estilos contenedor*/
.contenedor {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

/*Estilos fila*/
.fila {
    position: relative;
    width: 100%;
    height: auto;
    display: table;
    clear: both;
    margin: auto;
}

/*===================================*/
/*--------Estilos de columna---------*/
/*===================================*/
/*Estilos global de columna*/
[class*="col-"] {
    float: left;
    border: 1px solid black;
    padding: 20px;
}
/*===================================*/

/*Columna de 12 al 100%*/
.col-12 {
    width: 100%;
}

/*Columna de 11 al 91.67%*/
.col-11 {
    width: 91.66666667%;
}

/*Columna de 10 al 83.33%*/
.col-10 {
    width: 83.33333333%;
}

/*Columna de 9 al 75%*/
.col-9 {
    width: 75%;
}

/*Columna de 8 al 66.67%*/
.col-8 {
    width: 66.66666667%;
}

/*Columna de 7 al 58.33%*/
.col-7 {
    width: 58.33333333%;
}

/*Columna de 6 al 50%*/
.col-6 {
    width: 50%;
}

/*Columna de 5 al 41.67%*/
.col-5 {
    width: 41.66666667%;
}

/*Columna de 4 al 33.33%*/
.col-4 {
    width: 33.33333333%;
}

/*Columna de 3 al 25%*/
.col-3 {
    width: 25%;
}

/*Columna de 2 al 16.67%*/
.col-2 {
    width: 16.66666667%;
}

/*Columna de 1 al 8.33%*/
.col-1 {
    width: 8.33333333%;
}
/*===================================*/